    {% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>
                Rodzina Adamsów</h1>
            <p>Uwaga! Dla ludzi o mocnych nerwach.</p>
        </header>
        <p> Strona zawiera drastyczne zdjęcia i teksty. Przeglądanie
            grozi nieodwracalnym polubieniem dziwaków skupionych wokół rodziny Andrzejczaków. Czuj się
            ostrzeżony.</p>
    </div>
    <span class="image object">
                    <img src="https://live.staticflickr.com/65535/49976552127_71d5b93ab6_c.jpg"
                         alt="DSCF6412">
                </span>
</section>


<form  hx-post="/submit_message" hx-swap="beforeend" hx-target="#new-entry">
    <div class="row gtr-uniform">

        <!-- Break -->
        <div class="col-6 col-12-xsmall">
            <input type="text" name="name" id="demo-name" value="" placeholder="Tytuł dzieła" />
        </div>
        <div class="col-12">
                                    <textarea name="message" id="demo-message" placeholder="Niech dzieje się magia słowa..."
                                              rows="6"></textarea>
        </div>
        <!-- Break -->
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" value="Zapisz dzieło dla potomności" class="primary"/></li>
                <li><input type="reset" value="Resetuj"/></li>
            </ul>
        </div>
    </div>
</form>
<p id="new-entry" hx-target="closest li" hx-swap="outerHTML swap:0.5s">
    {% for message in messages %}
    <h4>{{message[0]}}</h4>
    <p>{{message[1]}}</p>
    {% endfor %}

</p>
{% endblock %}
